name: RunApp

on:
  push:
    branches:
      - master

jobs:
  run:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: log in
        run: docker login
#

      - name: Build and run Docker image
        run: |
          docker build -t rundocker -f Dockerfile .
          docker run rundocker
